body {
  width: 780px;
  margin: 0 auto;
  background-color: darkgrey;
  font-family: "Galindo", sans-serif;
  border: 8px solid black;
  border-radius: 8px;
}

.logo,
h1 {
  display: block;
  margin: 20px auto;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 20%;
}

.type-submission-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(125, 11, 11);
  height: 200px;
  gap: 50px;
  justify-content: space-evenly;
}

.select-type-main {
  display: flex;
  justify-content: space-evenly;
}

.select-type {
  display: flex;
  flex-direction: column;
}

.select-type label {
  color: white;
  font-size: 20px;
}

.type-submission-form button {
  font-size: 20px;
  font-family: "Galindo", sans-serif;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.type-submission-form button:hover {
  background-color: yellow;
  cursor: pointer;
}

#typeResultsSection {
  text-align: center;
}


.damage-section {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.quadruple-damage-box{
  background-color: rgb(202, 90, 90)
}
.double-damage-box{
  background-color: rgb(188, 143, 64)
}
.normal-damage-box{
  background-color: rgb(210, 210, 146)
}
.half-damage-box{
  background-color: rgb(151, 204, 163)
}
.quarter-damage-box{
  background-color: rgb(141, 167, 224)
}
.no-damage-box{
  background-color: rgb(133, 133, 133)
}

.type-block {
  width: 15%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 16px;
  font-family: 'Silkscreen', sans-serif;
  font-weight: 100;
  font-size: 12px;
}

#typeResultsSection h3 {
  margin: auto;
  padding-top: 10px;
  font-size: 24px;
  font-weight: 900;
}

.hide-section {
  display: none;
}
